/* HEADER STYLING */

h2{
	font-size: 220%;
	font-family: ITC Cancione, Galahad;
	color: rgb(10, 4, 88);
	text-align: center;
}

h6{
    font-size: 130%;
    font-family: 'Garamond', 'Perpetua', 'Calisto MT';
    color: rgb(10, 4, 88);
    text-align: justify;
}

.title{
    width: 74%;
    margin: 1%;
    display: inline-block;
    float: left;
}

.havel{
    width: 22%;
    margin: 1%;
    display: inline-block;
    float: left;
}

.havel_i{
    width: 100%;
    display: inline-block;
}

/* END HEADER STYLING */



h4{
	color: #2b2b86;
	text-align: center;
    font-family: beata LP, ITC Cancione, Galahad;
    font-size: 150%;
    clear: both;
}

p{
	color: rgb(10, 4, 88);
	text-align: justify;
	font-size: 115%;
}

body{
    background-color: rgb(235 236 220);
    margin: 10%;
}


figcaption{
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(71, 2, 23);
}



/* HANCOCK STYLING */

.hanc_pic{
    width:100%;
    display: inline-block;
}

.hanc{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.hanc2{
    margin-left: 1%;
    margin-right: 1%;
    display: block;
    float: center;
}

/* END HANCOCK STYLING */

/* CR STYLING */

.cechia_p{
    width: 74%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.catnip{
    width: 22%;
    margin: 1%;
    display: inline-block;
    float: left;
}

.catnip_logo{
    width: 34%;
    min-width: 50px;
    padding: 0% 33%;
    float: center;
}

.cechia_g{
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.cechia_i{
    width:100%;
    display: inline-block;
}

/* END CR STYLING */

/* EUR STYLING */

.euro_fr{
    width: 61.5%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.euro_os{
    width: 34.5%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.euro_i{
    width:100%;
    display: inline-block;
}

.euro_txt{
    margin-left: 1%;
    margin-right: 1%;
    display: block;
    float: center;
    clear: both;
}

/* END EURO STYLING */

/* MN STYLING */

.mn_to{
    width: 34.6%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.mn_to_i{
    width: 100%;
    display: inline-block;
}

.mn_bd{
    width: 61.4%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.mn_bd_i{
    width: 100%;
    display: inline-block;
}

.mn{
    margin-left: 1%;
    margin-right: 1%;
    display: block;
    float: center;
    clear: both;
}

/* END MN STYLING */

/* SWEETCHEEX STYLING */

.ap_table{
    width: 72.9%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.ap_table1{
    width: 100%;
    display: inline-block;
}

.ap_t{
    width: 23.1%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.ap_t1{
    width: 100%;
    display: inline-block;
}

.sweetcheex{
    font-size: 140%;
    margin-left: 1%;
    margin-right: 1%;
    display: block;
    float: center;
    clear: both;
}

/* END SWEETCHEEX STYLING */

/* MY ART STYLING */

.funky{
    width: 25.8%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.funky_i{
    width: 100%;
    display: inline-block;
}

.tech{
    width: 26.4%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.tech_i{
    width: 100%;
    display: inline-block;
}

.abbot{
    width: 40.8%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.abbot_link{
    width: 100%;
    display: inline-block;
}

/* END MY ART STYLING */